<footer class="site-footer outer">
          <footer class="py-4" style="border-bottom-color: #ffffff82;border-style: solid;border-width: 0px;border-bottom-width: 1px;">
            <div class="container">
              <div class="row">
                <div class="col-sm-3" >
                  <a class="navbar-brand" href="#"><img class="card-img-top" src="{{asset 'jgbw.png'}}" alt="" style=""></a>
                </div>
                <div class="col-sm-5" >
                  <nav class="navbar navbar-expand-lg navbar-dark" style="">
                    <div class="container">
                      <div class="collapse navbar-collapse" id="navbarResponsivefooter" >
                        <ul class="navbar-nav ml-auto">
                          <li class="nav-item">
                            <a class="nav-link" href="blog.html">BLOG</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#about">ACERCA DE JORGE</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#contact">CONTACTO</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>
                </div>
                <div class="col-sm-4 div-social-network-footer" style="text-align: right;">
                  <ul class="social-network social-networknav social-circle social-circlenav social-circlenav2 ">
                    <li><a href="#" class="icoFacebookNav" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="icoTwitterNav" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="icoInstagramNav" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#" class="icoLinkedinNav" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- /.container -->
          </footer>
          <footer class="py-4" >
            <div class="container">
              <div class="row">
                <div class="col-sm-6 my-6" >
                  <p class="m-0 txt-footer">&copy; 2019 Jorge Gálvez. Todos los dererechos Reservados</p>
                </div>
                <div class="divfooter col-sm-6 my-6" >
                  <a href="https://api.whatsapp.com/send?phone=56990889033" class="m-0 txt-footer">+56 9 90889033 |  jorge@tooldata.io</a>
                </div>
              </div>
            </div>
            <!-- /.container -->
          </footer>
          <a data-scroll="" href="#home" id="go-top" style="display: flex;">
            <i style="margin: 29%;" class="fas fa-arrow-up"></i>
          </a>
        </footer>
